{<<"app">>,<<"thoas">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"A blazing fast JSON parser and generator in pure Erlang.">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/thoas.app.src">>,<<"src/thoas.erl">>,
  <<"src/thoas_decode.erl">>,<<"src/thoas_encode.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/lpil/thoas">>},
  {<<"Sponsor">>,<<"https://github.com/sponsors/lpil">>}]}.
{<<"name">>,<<"thoas">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.0">>}.
