
/* channels panel */
.channelRow{
    width: initial;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
}

.channelRowUnsubscribeBtn{
    border-style: inset;
    background-color: red;
    text-align: center;
    width: 20%;
}

.channelRowBtn{
    text-align: center;
    
}
.channelRowMessagesCount{
    
}

/* chat container  */
.chatMessageContainer{
    width: initial  ;
    display:grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr 2fr;
}
.chatMessageIcon{
    align-self: center;
    padding: 1em;
    margin-inline: 0.7%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
    width: 15%;
    height: 30%;
    border-radius: 50%;
    border:solid black;
   
}
.chatMessageContainer:hover{
    background-color: #384139;
}
.chatMessageMeta{
    padding:1%;
    grid-column-start: 2;
    grid-row-start:1;
    grid-row-end:2;
    font-size: small;
    font-weight: 600;
    
    
}
.chatMessageContent{
    grid-row-start:2;
    grid-column-start:2;
    padding:1%;
}

button{
    border-color: none;
    width:150px;
    height: 30px;
    border-radius: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.panel {
    padding-left: 0.8%;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    padding-right: 0.7%;
}

.buttonGroupPanel{
    border-style: ridge;
    border-color: #34773d;
    
}
html,
body,
#wrapper{
    height: 100%;
    min-height: 100%;
}

.sendPanelButton{
    margin:0.8%;
    padding:0.5%;
    height: 20%;
}

.icon{

}