#parentPanel {
    display: flex;
    flex-direction: column;
    justify-items: start;
    height: inherit;
    padding-left: 1%;
    padding-right: 1%;
}

#parent > * {
    margin-bottom: 1%;
}
#buttonGroupsPanel{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    border-spacing: 2px;
    align-items: stretch; 
}
#buttonGroupsPanel > *{
    margin:1%   
}

#subscribeButtonPanel{
    display: grid;
    padding:0.5%;
    row-gap:5px;
    column-gap: 5px;
    border-color: black;
    border:solid;
    border-left: 1;
    border: ridge;
}
#subscribeButtonPanel > *{
    margin-left:5%
}
#subscribeBox{
    grid-column-start: 1;
    grid-column-end:2;
}
#subscribeButton{
    
    grid-column-start:1;
    grid-row-start:2;
}
#subscribeLabel{
    grid-row-start:1;
    grid-column-start:2;
    
}


#connectButtonsPanel{
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    border: ridge;
    padding:0.5%;
}

#urlBox{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
#urlLabel{
    grid-row-start: 1;
    grid-column-start: 4;
}
#connectButton{
    grid-row-start:2;
}
#disconnectButton{
    grid-row-start: 2;
}


#mainPanel{
    width: 95%;
    height:85%;
    display: grid;
    gap: 1rem;
    grid-template-rows: 5% 4fr 1% 3fr 1fr;
    grid-template-columns: 3fr 8fr 1fr;
    align-items: stretch;
    border-radius: 1%;
    border-color: rgb(44, 97, 57);
    border-style:solid ;
    padding-left: 2%;
    background-color: #92c8d8d2;
    
}


#channelsPanel{
    display: flex;
    margin-top:0.2em;
    margin-bottom:0.4em;
    width: 25%;
    flex-direction: column;
    justify-items: flex-start;
    border-style: #cc2;
    border-color: red;
    background-color: bisque;
}
#channelsLabel{
    border-style: ridge;
    width: initial;
    text-align: center;
    padding-top:1%;
    padding-bottom: 1%;
}
#chatPanel{
    margin-left: 0.7%;
    margin-top:0.5%;
    margin-bottom: 0.7%;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-items: flex-start;
    align-items: inherit;
}

#chatMessagesPanel{
   height: 90%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-self: flex-start;
   border-style: double;
   border-color: cornflowerblue;
   background-color: beige;
}
#currentChannelNamePanel{
    align-self: center;
    border-style: groove;
}



#chatSendMessagePanel{
    justify-content: flex-end;
    display: grid;

}
#chatSendMessageBox{
   grid-row-start: 1;
   grid-row-end: 12;
   grid-column-start:1;
   grid-column-end:4;
}
#chatSendMessageButton{
    grid-row-start:1;
    grid-row-end:12;
    grid-column-start: 4;
    grid-column-end:8;
}



#channelsAreaPanel{
    width: initial;
    height: 40%;
    border-bottom: solid;
    border-bottom-color: #cc2;

}

#channelsContainer{
    max-height: 90%;
    height: initial;
    width:auto;
    overflow-y: scroll;
    padding-left: 1%;
    padding-top:5%;
    border-bottom-style: solid;
    border-bottom-color: cadetblue;
    
}
.channelRow{
    width: initial;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
}

.channelRowUnsubscribeBtn{
    border-style: inset;
    background-color: red;
    text-align: center;
    width: 20%;
}

.channelRowBtn{
    text-align: center;
    
}
.channelRowMessagesCount{
    
}


