.parent{
    display: flex;
    flex-direction: column;
    justify-items:stretch;
    align-items: center;

    height:800px;
    width: 1200px;
}


.buttonGroupsPanel{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: stretch;    
}

.channelAndChatPanel{
    display: flex;
    flex-direction: row;
    justify-items: s;
}




