.parent{
    display: flex;
    flex-direction: column;
    justify-items:start;
    align-items: center;
    height:850px;
    width: 1000px;
}


.buttonGroupsPanel{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: stretch;    
}



.subscribeButtonPanel{
    display: grid;
    column-gap: 10px;
    border-color: black;
    border:solid;
    border-left: 1;
}
.subscribeBox{
    grid-column-start: 1;
    grid-column-end:2;
}
.subscribeButton{
    grid-column-start:2;
    grid-row-start:2;
}
.subscribeLabel{
    grid-column-start:2;
    grid-row-start:1;
}


.connectButtonsPanel{
    display: grid;
}

.urlBox{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.urlLabel{
    grid-row-start: 1;
    grid-column-start: 4;
}
.connectButton{
    grid-row-start:2;
}
.disconnectButton{
    grid-row-start: 2;
}


.channelAndChatPanel{
    width: 800px;
    height:600px;
    display: flex;
    flex-direction: row;
    justify-items:flex-start ; 
    align-items: stretch;
}


.channelPanel{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center; 
}

.chatPanel{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: inherit;
}

.chatMessagesPanel{
   display: flex;
   flex-direction: column;
   border-style: double;
   border-color: cornflowerblue;
   background-color: beige;
   width:500px;
   height:500px;
}
.channelNamePanel{
    align-self: flex-start;
}
.chatSendMessagePanel{
    display: grid;
}
.chatSendMessageBox{
    
    grid-column-end:6;  
}
.chatSendMessageButton{
    grid-column-end: 8;
}



