.parent{
    display: flex;
    flex-direction: column;
    justify-items:start;
    align-items: stretch;
    height:850px;
    width: 1000px;
    padding-top:20px;
    padding-left: 20px;

}


.buttonGroupsPanel{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: stretch;  
    padding-left: 30px;  
    
}



.subscribeButtonPanel{
    display: grid;
    column-gap: 10px;
    border-color: black;
    border:solid;
    border-left: 1;
    border: ridge;
}
.subscribeBox{
    grid-column-start: 1;
    grid-column-end:2;
}
.subscribeButton{
    
    grid-column-start:1;
    grid-row-start:2;
}
.subscribeLabel{
    grid-column-start:2;
    grid-row-start:1;
}


.connectButtonsPanel{
    display: grid;
    border: ridge;
}

.urlBox{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
.urlLabel{
    grid-row-start: 1;
    grid-column-start: 4;
}
.connectButton{
    grid-row-start:2;
}
.disconnectButton{
    grid-row-start: 2;
}


.channelAndChatPanel{
    width: 800px;
    height:600px;
    display: flex;
    flex-direction: row;
    justify-items:flex-start ; 
    align-items: stretch;
    
}


.channelsPanel{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center; 
    border-style: dotted;
    background-color: bisque;
}
.channelsLabel{
    border-style: double;
}
.chatPanel{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: inherit;
}

.chatMessagesPanel{
   display: flex;
   flex-direction: column;
   justify-self: flex-start;
   border-style: double;
   border-color: cornflowerblue;
   background-color: beige;
   /* width:500px;
   height:500px; */
}
.currentChannelNamePanel{
    align-self: center;
    border-style: groove;
}
.currentChannelNameLabel{
    
}
.chatSendMessagePanel{
    justify-content: flex-end;
    display: grid;

}
.chatSendMessageBox{
   grid-row-start: 1;
   grid-row-end: 12;
   grid-column-start:1;
   grid-column-end:4;
}
.chatSendMessageButton{
    grid-row-start:1;
    grid-row-end:12;
    grid-column-start: 4;
    grid-column-end:8;
}



