{<<"app">>,<<"mysql">>}.
{<<"build_tools">>,[<<"make">>,<<"rebar3">>,<<"mix">>]}.
{<<"description">>,<<"MySQL/OTP - Erlang MySQL client driver">>}.
{<<"elixir">>,<<"~> 1.0">>}.
{<<"files">>,
 [<<"mix.exs">>,<<"README.md">>,<<"CHANGELOG.md">>,<<"doc">>,
  <<"doc/edoc-info">>,<<"doc/erlang.png">>,<<"doc/index.html">>,
  <<"doc/modules-frame.html">>,<<"doc/mysql.html">>,
  <<"doc/overview-summary.html">>,<<"doc/overview.edoc">>,
  <<"doc/stylesheet.css">>,<<"erlang.mk">>,<<"include">>,
  <<"include/exception.hrl">>,<<"include/protocol.hrl">>,
  <<"include/records.hrl">>,<<"include/server_status.hrl">>,<<"Makefile">>,
  <<"priv">>,<<"priv/bin">>,<<"priv/bin/changelog.sh">>,
  <<"priv/bin/mk_mix_file.escript">>,<<"priv/edoc-style.css">>,<<"src">>,
  <<"src/mysql.app.src">>,<<"src/mysql.erl">>,<<"src/mysql_cache.erl">>,
  <<"src/mysql_conn.erl">>,<<"src/mysql_encode.erl">>,
  <<"src/mysql_protocol.erl">>,<<"test">>,<<"test/error_logger_acc.erl">>,
  <<"test/mock_tcp.erl">>,<<"test/mysql_change_user_tests.erl">>,
  <<"test/mysql_encode_tests.erl">>,<<"test/mysql_protocol_tests.erl">>,
  <<"test/mysql_tests.erl">>,<<"test/ssl">>,<<"test/ssl/Makefile">>,
  <<"test/ssl/my-ssl.cnf.template">>,<<"test/ssl_tests.erl">>,
  <<"test/transaction_tests.erl">>]}.
{<<"licenses">>,[<<"LGPL-3.0-or-later">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/mysql-otp/mysql-otp">>}]}.
{<<"name">>,<<"mysql">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.6.0">>}.
