{<<"name">>,<<"jhn_stdlib">>}.
{<<"version">>,<<"3.6.2">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"jhn_stdlib">>}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Jan Henry Nystrom's standard library">>}.
{<<"files">>,
 [<<"src/jhn_stdlib.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/uri.hrl">>,<<"priv/draft-04/schema.json">>,
  <<"priv/schema.json">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/bencoding.erl">>,<<"src/blist.erl">>,<<"src/bloom.erl">>,
  <<"src/bstring.erl">>,<<"src/ip_addr.erl">>,<<"src/json.erl">>,
  <<"src/jstream.erl">>,<<"src/lazy.erl">>,<<"src/levenshtein.erl">>,
  <<"src/msgpack.erl">>,<<"src/mustache.erl">>,<<"src/p_tree.erl">>,
  <<"src/pb_tree.erl">>,<<"src/plist.erl">>,<<"src/r_tree.erl">>,
  <<"src/shttpc.erl">>,<<"src/syslog.erl">>,<<"src/t_tree.erl">>,
  <<"src/timestamp.erl">>,<<"src/uri.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/JanHenryNystrom/jhn_stdlib.git">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
