{<<"app">>,<<"erlydtl">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Django Template Language for Erlang">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.markdown">>,<<"README_I18N">>,
  <<"include/erlydtl_ext.hrl">>,<<"include/erlydtl_preparser.hrl">>,
  <<"priv/custom_tags/flashvideo">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/erlydtl.app.src">>,
  <<"src/erlydtl.app.src.script">>,<<"src/erlydtl.erl">>,
  <<"src/erlydtl_beam_compiler.erl">>,<<"src/erlydtl_compiler.erl">>,
  <<"src/erlydtl_compiler_utils.erl">>,<<"src/erlydtl_contrib_humanize.erl">>,
  <<"src/erlydtl_deps.erl">>,<<"src/erlydtl_filters.erl">>,
  <<"src/erlydtl_library.erl">>,<<"src/erlydtl_parser.erl">>,
  <<"src/erlydtl_parser.yrl">>,<<"src/erlydtl_runtime.erl">>,
  <<"src/erlydtl_scanner.erl">>,<<"src/erlydtl_scanner.slex">>,
  <<"src/erlydtl_time_compat.erl">>,<<"src/erlydtl_unparser.erl">>,
  <<"src/filter_lib/erlydtl_dateformat.erl">>,
  <<"src/filter_lib/erlydtl_slice.erl">>,<<"src/i18n/i18n_manager.erl">>,
  <<"src/i18n/po_generator.erl">>,<<"src/i18n/po_scanner.erl">>,
  <<"src/i18n/sources_parser.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlydtl/erlydtl">>}]}.
{<<"name">>,<<"erlydtl">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.14.0">>}.
