{<<"app">>,<<"uuid">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang UUID Implementation">>}.
{<<"files">>,
 [<<"src">>,<<"src/uuid.app.src">>,<<"src/uuid.erl">>,<<"include">>,
  <<"include/uuid.hrl">>,<<"doc">>,<<"doc/erlang.png">>,<<"doc/uuid.html">>,
  <<"doc/overview-summary.html">>,<<"doc/edoc-info">>,
  <<"doc/stylesheet.css">>,<<"doc/index.html">>,<<"doc/modules-frame.html">>,
  <<"rebar.config">>,<<"README.markdown">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/okeuday/uuid">>}]}.
{<<"name">>,<<"uuid_erl">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"quickrand">>},
   {<<"name">>,<<"quickrand">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<">= 2.0.4">>}]]}.
{<<"version">>,<<"2.0.4">>}.
