{<<"app">>,<<"flatlog">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"A custom formatter for the logger application that turns maps into single line text logs">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/flatlog.app.src">>,<<"src/flatlog.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/ferd/flatlog/">>}]}.
{<<"name">>,<<"flatlog">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.2">>}.
