{<<"app">>,<<"nova">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Nova is a web application framework">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/static/nova.png">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/controllers/nova_error_controller.erl">>,
  <<"src/nova.app.src">>,<<"src/nova.erl">>,<<"src/nova.hrl">>,
  <<"src/nova_app.erl">>,<<"src/nova_basic_handler.erl">>,
  <<"src/nova_erlydtl_inventory.erl">>,<<"src/nova_handler.erl">>,
  <<"src/nova_handlers.erl">>,<<"src/nova_internal_error.dtl">>,
  <<"src/nova_plugin.erl">>,<<"src/nova_plugin_handler.erl">>,
  <<"src/nova_router.erl">>,<<"src/nova_router.hrl">>,
  <<"src/nova_security_handler.erl">>,<<"src/nova_session.erl">>,
  <<"src/nova_session_ets.erl">>,<<"src/nova_stream_h.erl">>,
  <<"src/nova_sup.erl">>,<<"src/nova_watcher.erl">>,
  <<"src/nova_websocket.erl">>,<<"src/nova_ws_handler.erl">>,
  <<"src/plugins/nova_correlation_plugin.erl">>,
  <<"src/plugins/nova_cors_plugin.erl">>,
  <<"src/plugins/nova_plugin_utilities.erl">>,
  <<"src/plugins/nova_request_plugin.erl">>,<<"src/views/nova_error.dtl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/novaframework/nova">>}]}.
{<<"name">>,<<"nova">>}.
{<<"requirements">>,
 [{<<"cowboy">>,
   [{<<"app">>,<<"cowboy">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.9.0">>}]},
  {<<"erldb">>,
   [{<<"app">>,<<"erldb">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.0">>}]},
  {<<"erlydtl">>,
   [{<<"app">>,<<"erlydtl">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.14.0">>}]},
  {<<"jhn_stdlib">>,
   [{<<"app">>,<<"jhn_stdlib">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"3.6.2">>}]},
  {<<"pmod_transform">>,
   [{<<"app">>,<<"pmod_transform">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.1.0">>}]},
  {<<"routing_tree">>,
   [{<<"app">>,<<"routing_tree">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.1">>}]},
  {<<"thoas">>,
   [{<<"app">>,<<"thoas">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.2.0">>}]},
  {<<"uuid_erl">>,
   [{<<"app">>,<<"uuid">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>2.0.4">>}]}]}.
{<<"version">>,<<"0.9.2">>}.
