{<<"name">>,<<"dh_date">>}.
{<<"version">>,<<"1.0.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"dh_date">>}.
{<<"maintainers">>,[<<"Gordon Guthrie">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"Basic date formatting and parsing app. Uses formatting rules of http://uk.php.net/date - (with some minor changes)">>}.
{<<"files">>,
 [<<"src/dh_date.app.src">>,<<"README">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/dh_date.erl">>]}.
{<<"licenses">>,[<<"Do What You Want">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/daleharvey/dh_date">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
