{<<"app">>,<<"routing_tree">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"An OTP application">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/routing_tree.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/routing_tree.app.src">>,
  <<"src/routing_tree.erl">>,<<"src/routing_tree_app.erl">>,
  <<"src/routing_tree_binparser.erl">>,<<"src/routing_tree_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[]}.
{<<"name">>,<<"routing_tree">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.4">>}.
