{<<"app">>,<<"quickrand">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Quick Random Number Generation: Provides a simple interface to call efficient random number generation functions based on the context.  Proper random number seeding is enforced.">>}.
{<<"files">>,
 [<<"src">>,<<"src/quickrand_cache.erl">>,<<"src/quickrand_internal.hrl">>,
  <<"src/quickrand_normal.erl">>,<<"src/quickrand.app.src">>,
  <<"src/random_wh82.erl">>,<<"src/quickrand.erl">>,
  <<"src/quickrand_test.hrl">>,<<"src/random_wh06_int.erl">>,
  <<"src/quickrand_math.hrl">>,<<"src/quickrand_hash.erl">>,
  <<"src/quickrand_cache_normal.erl">>,<<"doc">>,<<"doc/erlang.png">>,
  <<"doc/quickrand_normal.html">>,<<"doc/random_wh06_int.html">>,
  <<"doc/quickrand_cache.html">>,<<"doc/quickrand_hash.html">>,
  <<"doc/quickrand_cache_normal.html">>,<<"doc/overview-summary.html">>,
  <<"doc/random_wh82.html">>,<<"doc/quickrand.html">>,<<"doc/edoc-info">>,
  <<"doc/stylesheet.css">>,<<"doc/index.html">>,<<"doc/modules-frame.html">>,
  <<"rebar.config">>,<<"README.markdown">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/okeuday/quickrand">>}]}.
{<<"name">>,<<"quickrand">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.0.4">>}.
