#chatPanel{
    grid-row-start:2;
    grid-row-end:5;
    grid-column-start:2;
    grid-column-end:4;
    margin-left: 0.7%;
    margin-top:0.5%;
    margin-bottom: 0.7%;
    width: 100%;
    flex-direction: row;
    justify-items: flex-start;
    align-items: inherit;
   
    border-style: double;
    border-color: rgb(22, 41, 77);
    background-color: beige;
    border:solid;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 90% 1fr;
}
#currentChannelNamePanel{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    margin-top:2%;
    margin-bottom: 0.5%;
    margin-inline-end: 2%;
    width: 90%;
    align-self: stretch;
    border-style: groove;
    border:solid;
    border-color: rgb(18, 163, 120);
    border-radius: 1em;
    align-self: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#messagesContainer{
    display:flex;
    flex-direction: column;
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    width:100%;
    margin-top:2%;
    margin-bottom: 0.5%;
    border:solid;
    border-radius:1em;
    overflow-y:scroll;
    scroll-margin-right: 1%;
    background-color: rgba(139, 139, 129, 0.842);
}

#chatSendMessagePanel{
    justify-content: flex-start;
    display: flex;
    grid-row-start:5;
    grid-row-end:6;
    grid-column-start: 2;
    grid-column-end:3;
    flex-direction: row;
}

#chatSendMessageBox{
  margin-right: 0.7%;
  margin-left:0.7%;
  width: 90%;
  height: 20%;
  padding-top:0.2%;
  padding-bottom:0.4%;
  
}
#chatSendMessageButton{
    grid-row-start:1;
    grid-row-end:12;
    grid-column-start: 4;
    grid-column-end:8;
}



.chatMessageContainer{
    width: initial  ;
    display:grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}
.chatMessageIcon{
    align-self: center;
    padding: 1em;
    margin-inline: 0.7%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2;
    width: 15%;
    height: 30%;
    border-radius: 50%;
    border:solid black;
   
}
.chatMessageContainer:hover{
    background-color: #384139;
}
.chatMessageMeta{
    padding:1%;
    grid-column-start: 2;
    grid-row-start:1;
    grid-row-end:2;
    font-size: small;
    font-weight: 600;
}
.chatMessageContent{
    grid-row-start:2;
    grid-column-start:2;
    padding:1%;
}
.chatMessageStatus{
    display:flex;
    grid-column-start:2;
    grid-row-start:3
}
.chatMessageStatusPending{

   background-color: cadetblue;
}
.chatMessageStatusSent{
    background-color: aqua;
}
.chatMessageStatusSeen{
    background-color: blue;
}

.sendPanelButton{
    margin:0.8%;
    padding:0.5%;
    height: 20%;
}

.newMessagesBox{
    display: block;
    align-self: center;
    padding:1%;
}

#loadOlderMessagesBtn{
    width: inherit;
    display:block ;
    background-color: rgba(139, 139, 129, 0.842);
    border-color:rgba(139, 139, 129, 0.842); ;
}

