
/* channels panel */


/* chat container  */

button{
    border-color: none;
    width:150px;
    height: 30px;
    border-radius: 8px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.panel {
    padding-left: 0.8%;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    padding-right: 0.7%;
}

.buttonGroupPanel{
    border-style: ridge;
    border-color: #34773d; 
}

html,
body,
#wrapper{
    height: 100%;
    min-height: 100%;
}



.icon{

}

.formRow{
    margin-top:0.5%;
    margin-bottom: 0.5%;
    display:flex;
    flex-direction: row;
    
}
.form{
    display:flex;
    flex-direction: column;
}

