
#mainModal{
    height: 100%;
    display:none;
}
#parentPanel {
    display: flex;
    flex-direction: column;
    justify-items: start;
    height: inherit;
    padding-left: 1%;
    padding-right: 1%;
}
#loginModal{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    top:15%;
    left:20%;
    width: 50%;
    height: 25%;
}
#controlsModal{
    display:flex;
    position: unset;
}
#registerModal{
    display:none;
    position:fixed;
    background-color: rgba(139, 139, 129, 0.842);
    top:15%;
    left: 20%;
    width: 50%;
    height: 25%;
}

#registerPanel{
    display:flex;
    flex-direction: column;
}

#loginFailMessage{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    background-color: red;
    display: none;
}

#parent > * {
    margin-bottom: 1%;
}

#mainPanel{
    width: 95%;
    height:85%;
    display: grid;
    gap: 1rem;
    grid-template-rows: 10% 4fr  3fr 2fr 1fr 1fr;
    grid-template-columns: 3fr 6fr 2fr 1fr;
    align-items: stretch;
    border-radius: 1%;
    border-color: rgb(44, 97, 57);
    border-style:solid ;
    padding-left: 2%;
    background-color:#66a4a987;
    
}


#scrollPanel{
    grid-column-start: 3;
    grid-row-start:2;
    grid-row-end:5;
}


.chatScroll::-webkit-scrollbar{
    width: 2em;
}
.chatScroll::-webkit-scrollbar-track{
    margin-block: 0.5em;
    border-radius: 100vw;
    background: hsl(120, 12%, 41%);
}
.chatScroll::-webkit-scrollbar-thumb{
    background: hsl(60, 15%, 45%);
    border: 0.25em hsl(120, 27%, 41%) solid;
    border-radius: 100vw;
    height: 0.2em;
}






