{<<"app">>,<<"pmod_transform">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Parameterized Modules">>}.
{<<"files">>,
 [<<"README.md">>,<<"include/pmod.hrl">>,<<"rebar.lock">>,<<"src/Makefile">>,
  <<"src/pmod_pt.erl">>,<<"src/pmod_transform.app.src">>]}.
{<<"licenses">>,[<<"ERLANG PUBLIC LICENSE">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/erlang/pmod_transform">>}]}.
{<<"name">>,<<"pmod_transform">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.1.0">>}.
